# deb: need virtualenv python-dev liblzma-dev for compiling backports.lzma
# yum: need python-virtualenv python-devel xz-devel for compiling backports.lzma
PyYAML
backports.lzma
boto
# for vms plugin
xlrd
